.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
}

#profile-picture{
    width: 400px;
    margin-right: 60px;
    border-radius: 20px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'sans-serif';
    font-size: 35px;
}

.introduction>p{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 40px;
}



#capability{
    font-family: 'sans-serif';
    font-weight: 400;
    font-size: 30px;
}

.value-menu{
    font-family: 'sans-serif';
    font-size: 35px;
    margin: 30px 100px;
}




.value-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 100px 150px;
    margin-top: 20px;
}

.value{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.value-icon{
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 2px solid darkorange;
    border-radius: 25px;
}

.value-intro{
    margin-left: 30px;
}

.value-name{
    font-family: 'sans-serif';
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
}

.value-exp{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
}

.skill-icon{
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 2px solid darkorange;
    border-radius: 25px;
    margin-right: 30px;
}

.skill-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 20px;
    margin: 50px 150px;
    margin-top: 20px;
}

.skill-section>p{
    color: whitesmoke;
}



.skill-menu{
    font-family: 'sans-serif';
    font-size: 25px;
    margin: 0px 150px;
}

.skill-infosection{
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.skill-info{
    color: whitesmoke;
    font-family: 'sans-serif';
    font-size: 25px;
    margin: 0px 0px;
    width: 150px;
    line-height: 45px;
    align-content: center;
    display: flex;
    flex-direction: row;

}